
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="saloon">
    <img src="~/webkodlari2/resimler/makeup1.jpg" alt="Salon Resmi" />
    <div class="overlay"></div>
    <div class="overlay-text">
        <h1>BUKET KUAFÖR</h1>
        <h2>
            "Doğallığın ve Zarafetin Buluşma Noktası"
        </h2>
        <p> Kişiye özel saç kesimi, boyama ve bakım hizmetleriyle fark yaratıyoruz. Tarzınıza zarif bir dokunuş katın.</p>
    </div>
</div>