body {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 70px; /* Navbarýn içeriði kapatmamasý için */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: white; /* Arka planýn görünür olmasý için */
}



.nav-link{
    font-weight:600;
    color: black;
}

.nav-link2 {
    font-weight: 600;
    color: black;
    font-size:x-large;
    text-decoration:none;
}

.navbar-toggler:focus{
    box-shadow:none;
}

.dropdown>.dropdown-menu{
    background-color: #fff;
    border:none;
    border-radius:0 ;
}

.lni-dashboard-square-1{
    font-size:1.5rem ;
}

.lni-cross-circle{
    font-size:2rem;
}

#welcome{
    background-color: #eaeae9;
    color: #3e4455;
    height:750px;
}
.saloon {
    position: relative; /* Yazý ve overlay için referans noktasý */
    width: 100%; /* Geniþlik tüm sayfayý kaplasýn */
    height: 75vh; /* Yükseklik, görünüm alanýnýn %70'i */
    margin: 10px auto; /* Sayfa içinde ortalama */
    overflow: hidden; /* Gereksiz taþmalarý engelle */
}

    .saloon img {
        width: 100%; /* Resim geniþliði tüm kapsayýcýyý kaplasýn */
        height: 100%; /* Resim yüksekliði kapsayýcýnýn tamamýný kaplasýn */
        object-fit: cover; /* Resmi kapsayýcýya göre kýrp, bozulmasýný önle */
    }

.overlay {
    position: absolute; /* Resmin üzerine eklenir */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Yarý saydam siyah bir katman */
    z-index: 1; /* Overlay yazýnýn altýnda ama resmin üstünde */
}

.overlay-text {
    position: absolute; /* Kapsayýcýya göre konumlandýr */
    top: 50%; /* Yatay ortalama */
    left: 50%; /* Dikey ortalama */
    transform: translate(-50%, -50%); /* Tam ortalama */
    text-align: center; /* Yazýyý ortala */
    color: white; /* Yazý rengini beyaz yap */
    font-size: 2rem; /* Yazý boyutu */
    z-index: 2; /* Yazýyý overlay'in üzerine çýkar */
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8); /* Daha güçlü bir gölge */
}

    .overlay-text h1 {
        margin: 0;
        font-size: 5rem;
        font-family:'Times New Roman', Times, serif;
    }
    .overlay-text h2 {
        margin: 0;
        font-size: 1.5rem;
        
    }

    .overlay-text p {
        font-size: 1.5rem;
        margin-top: 10px;
        
    }


@media (min-width:992px){

    .dropdown>.dropdown-menu{
        visibility: hidden;
        opacity:0;
        top:100%;
        display: block;
        transition: all 0.1s ease-out;
    }
 
    .dropdown:hover>.dropdown-menu{
        padding:20px 0;
        display: block;
        visibility: visible;
        opacity: 1;
        transition:all 0.3s ease-in-out;
    }
}
.dropdown-item:hover{
    color: #fff;
    background-color: black;
}
section .Hizmet{

    margin-left:10px;
    margin-right:10px;

}