
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/webkodlari3/style.css">
</head>
<body class="login-page">

<div class="form-structor">
    <div class="signup">
        <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
        <form method="post">
            <div class="form-holder">
                <input type="email" name="Email" class="input" placeholder="Email" required />
                    <input type="password" name="Sifre" class="input" placeholder="Sifre" required />
                    <input type="text" name="KullaniciAd" class="input" placeholder="KullaniciAd" required />
            </div>
            <button type="submit" class="submit-btn">Sign up</button>
        </form>
        <a href="@Url.Action("Login", "Account") " class="a-signup">Already have an account? Log in</a>
    </div>
</div>


<script src="~/webkodlari3/jskodlari.js"></script>
</body>
    </html>
