@using Kuafor_Sistemi.Models
@model List<Islemler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="Hizmet">
    <h2>Hizmetlerimiz</h2>

    <table class="table table-bordered">

        <tr>
            <th>İşlem No </th>
            <th>İşlem Adı</th>
            <th>Ücret</th>
            <th>Süre</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.IslemID</td>
                <td>@x.IslemAd</td>
                <td>@x.Ucret</td>
                <td>@x.Sure dakika</td>

            </tr>

        }

    </table>

</section>
