@{
    ViewData["Title"] = "Başarılı Randevu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Randevunuz Başarıyla Alındı</h2>
<p>Randevunuz kaydedildi. Lütfen randevu saatinde hazır olun.</p>
<a href="/Home/Index" class="btn btn-success">Ana Sayfaya Dön</a>
